.vscode/launch.json
.vscode/settings.json
__pycache__/DB_6.cpython-311.pyc
biosensor.log
.idea/memristiveBiosensors.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
tests/__pycache__/TestSection.cpython-311.pyc
.idea/.gitignore
freq_analysis/__pycache__/freq_analysis.cpython-311.pyc
freq_analysis/commands-templates
google_patents_parser/commands-templates
